* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

#root {
  width: 100%;
  height: 100vh;
}
